body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: deeppink;
}
header {
    background-color: deepskyblue;
    border-color: dimgray;
}

.header-2 {
    color: forestgreen;
    background-color: yellow;
}